.about {
  &-bio_img {
    height: 60vh;
    width: 100%;
    background:
      linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
      ),
      url('../img/model-1.jpg') center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &-bio {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }

  .jobs {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grip-gap: 2rem;

    &-job {
      background: lighten($primary-color, 10%);
       padding: 0.5rem;
      border-bottom: 5px solid $secondary-color;

       h2, h3 {
         margin: 0.5rem 0;
       }

       h6 {
         margin: 0.3rem 0;
       }
    }
  }

     .social-icons {
       display: flex;
       flex-direction: column;
     }

     footer {
       transform:
        rotate(90deg)
        translate(-3rem, -5rem);
     }
}
