.about {
  padding-top: 25vh;

  &-bio {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .jobs {
    width: 80%;
    margin: 100px auto 100px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    &-job {
      background: lighten($primary-color, 10%);
      padding: 0.5rem;
      border-bottom: 5px solid $secondary-color;

      h2,
      h3 {
        margin: 0.5rem 0;
      }

      h6 {
        margin: 0.3rem 0;
      }
    }
  }
}
