#projects_main {
  min-height: 100vh;
  padding-top: 10vh;
  text-align: center;
}
.projects {
  padding-bottom: 100px;
  height: 100%;

  &-items {
    width: 90%;
    display: grid;
    gap: 2rem;
    margin: 50px auto;
  }

  &-img {
    width: 100%;
  }

  &-item {
    position: relative;
    border-bottom: 5px solid $secondary-color;
    overflow: hidden;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 0;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }

      .projects-btn {
        opacity: 1;
      }
    }
  }

  &-btns {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &-btn {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: set-text-color($secondary-color);
    @include media-xl {
      font-size: 1.5rem
    }
    & > i {
      margin-right: 10px;
    }
    &:hover {
      color: set-text-color(set-text-color($secondary-color));
    }
  }
}
