@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    &-menu {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &_item {
        display: inline;
        padding-right: 1.5rem;
      }

      &_link {
        font-size: 2rem;
        color: $primary-color;
      }
    }
  }

  .about-bio {
    font-size: 1.5rem;
  }

  .projects {
    &-bio_img {
      height: 40vh;
    }
    &-items {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }
  }
  .contact-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-lg {
  .projects {
      &-items {
      grid-template-columns: repeat(3, 1fr);
    }
    &-bio_img {
      height: 50vh;
    }
  }
}

@include media-xl {
  .projects-bio_img {
    height: 50vh;
  }
}
