@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    &-menu {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &_item {
        display: inline;
        padding-right: 1.5rem;
      }

      &_link {
        font-size: 2rem;
        color: $primary-color;
      }
    }
  }

  .project__item__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .project__item__img {
    height: 40vh;
  }
  .contact-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-lg {
  .project__item__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .project__item__img {
    height: 50vh;
  }
}

@include media-xl {
  .project__item__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}